<div class="row">
  <div class="col-3">
    <div class="card p-1">
      <div class="card-body row align-items-center">
        <div class="icon-and-text col-9 row align-items-center">
          <div class="card-icon col-2">
            <i class='bx bxs-graduation bx-tada text-muted'></i>
          </div>
          <div class="card-head col-10">
            <h4 class="fw-light">Batches</h4>
          </div>
        </div>
        <div class="card-val col-3 text-center p-0">
          <h4>{{noOfBatches}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card p-1">
      <div class="card-body row align-items-center">
        <div class="icon-and-text col-9 row align-items-center">
          <div class="card-icon col-2">
            <i class='bx bx-group bx-tada text-muted' ></i>
          </div>
          <div class="card-head col-10">
            <h4 class="fw-light">Students</h4>
          </div>
        </div>
        <div class="card-val col-3 text-center p-0">
          <h4>{{noOfStudents}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card p-1">
      <div class="card-body row align-items-center">
        <div class="icon-and-text col-9 row align-items-center">
          <div class="card-icon col-2">
            <i class='bx bx-book bx-tada text-muted'></i>
          </div>
          <div class="card-head col-10">
            <h4 class="fw-light">Courses</h4>
          </div>
        </div>
        <div class="card-val col-3 text-center p-0">
          <h4>{{noOfCourses}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card p-1">
      <div class="card-body row align-items-center">
        <div class="icon-and-text col-9 row align-items-center">
          <div class="card-icon col-2">
            <i class='bx bx-run bx-tada text-muted'></i>
          </div>
          <div class="card-head col-10">
            <h4 class="fw-light">Sems.</h4>
          </div>
        </div>
        <div class="card-val col-3 text-center p-0">
          <h4>{{noOfSemesters}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
