<div class="container-fluid">
    <div class="row flex-column flex-sm-column flex-md-row">
        <div class="col-12 col-sm-12 d-md-none">
            <nav class="navbar navbar-expand-md">
                  <div class="container-fluid px-1">
                    <a class="navbar-brand" href="#">Student Portal</a>
                    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" aria-current="page"><i class="bi bi-brush"></i> Registration Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="bi bi-info-square"></i> Evaluations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="bi bi-card-text"></i> Comments</a>
                            </li>
                        </ul>
                    </div>
              </div>
            </nav>
            
        </div>
        <div class="col-md-3 col-lg-2 d-md-flex flex-md-column vh-100 d-none d-sm-none shadow p-2 justify-content-between">
            <!-- You can add my-auto class to vertically center the options -->
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active" href="#" aria-current="page"><i class="bi bi-brush"></i> Registration Form</a>
                <a class="nav-link" href="#"><i class="bi bi-info-square"></i> Evaluations</a>
                <a class="nav-link" href="#"><i class="bi bi-card-text"></i> Comments</a>
            </nav>
        </div>
        <div class="col-md-9 col-lg-10 col-12 col-sm-12 py-2 px-2 px-sm-2 px-md-4">
            
            <div class="container-fluid">
                <!-- Place router outlet here -->
                <h1>Main Content - Form Placeholder</h1>
            </div>

        </div>
    </div>
</div>